html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, code, img, center, dl, dt, dd, ol, ul, li, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, canvas, footer, header, section, audio, video, input, button, textarea, select, option {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    border: 0;
    font-stretch: normal;
    box-sizing: border-box;
}

div, span, p, label, dl, ul, ol, dt, dd, li, input, button, textarea {
    &::after, &::before {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
}

html {
    width: 100%;
    height: 100%;

    > body {
        font-family: PingFangSC,
            -apple-system,
            'Source Sans Pro',
            BlinkMacSystemFont,
            'Segoe UI',
            Roboto,
            'Helvetica Neue',
            Arial,
            sans-serif;
        font-size: 14px;
        width: 100%;
    }
}

img {
    display: block;
    border: none;
}

iframe, button, form, textarea, video, audio, canvas {
    border: none;
    outline: none;
    background: transparent;
}

button, div, iframe, span, a, img, canvas, video, audio, textarea {
    -webkit-appearance: none;/* 去除输入框内阴影 */
    -moz-appearance: none;/* 去除输入框内阴影 */
    appearance: none;/* 去除输入框内阴影 */
    outline: none;/* 去除输入框获得焦点时的阴影 */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* 去除ios点击元素出现阴影 */
    -webkit-tap-highlight-color: transparent;
}

input:not([type = 'checkbox']) {
    border: none;
    background: transparent;
    -webkit-appearance: none;/* 去除输入框内阴影 */
    -moz-appearance: none;/* 去除输入框内阴影 */
    appearance: none;/* 去除输入框内阴影 */
    outline: none;/* 去除输入框获得焦点时的阴影 */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* 去除ios点击元素出现阴影 */
    -webkit-tap-highlight-color: transparent;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

[class *= 'flex'] {
    display: flex;
    display: -webkit-flex;

    &[class *= '-center'] {
        justify-content: center;
    }

    &[class *= '-start'] {
        justify-content: flex-start;
    }

    &[class *= '-end'] {
        justify-content: flex-end;
    }

    &[class *= '-between'] {
        justify-content: space-between;
    }

    &[class *= '-around'] {
        justify-content: space-around;
    }
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot');
    src: url('../fonts/icomoon.eot#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf') format('truetype'),
        url('../fonts/icomoon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class ^= 'unimap-icon'], [class *= ' unimap-icon'] {
    font-family: 'icomoon' !important; /* use !important to prevent issues with browser extensions that change fonts */
    // speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    width: 100%;
    height: 100%;
}

#app {
    width: 100%;
    height: 100%;
}